<form [formGroup]="form">
  <mat-form-field class="lone-field">
    <mat-label i18n>Title</mat-label>
    <input matInput type="text" formControlName="Title" />
  </mat-form-field>
  <mat-form-field class="lone-field">
    <mat-label i18n>Description</mat-label>
    <textarea matInput rows="1" formControlName="Description"></textarea>
  </mat-form-field>
</form>

<ng-template #stepInfo let-query="query$">
  <ng-container *ngIf="query | async as q">
    <p i18n>
      The name of the poll should be the question that it will answer.
    </p>
    <p i18n>
      You may consider adding some additional information in the description box about the poll and the alternatives.
    </p>
  </ng-container>
</ng-template>
